/*
body {
 background-image: url('https://images.wallpaperscraft.ru/image/single/zatmenie_luna_solntse_129559_3840x2160.jpg');
}*/

img {
padding: 10px;
margin: 4%;
background-color: rgb(113, 122, 130);
}

h1 {
    color: beige;
}

h2 {
    color: beige;
}

button {
    background-color: hwb(49 4% 6% / 0);
    color: #12d40e;
    border: 2px solid #4CAF50; /* Green */
    width: 50px;
}



